body {
    width : 1550px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    display: flex;
    min-height: 100vh;
    background-color: #f0f0f0;
    overflow: scroll;
  }
  
  .place-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    max-width: 100%;
  }
  
  .place-card {
    width: 80%;
    max-width: 750px;
    border: 1px solid #ccc;
    padding: 20px;
    margin : 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    
  }
  
  .place-name {
    font-weight: bold;
  }

  .place-count{
    margin-bottom: 1px;
  }
  
  .place-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .place-button:hover {
    background-color: #0056b3;
  }
  